{% for interface in interfaces %}
{% if interface.IfLayer == "L2" %}
default interface {{ interface.IfType }}{{ interface.IfNr }}
interface {{ interface.IfType }}{{ interface.IfNr }}
 shutdown
 description {{ interface.Description }}
 cdp enable
 switchport
 switchport mode access
 no switchport mode dynamic
 switchport access vlan {{ interface.VlanId }}
 no negotiation auto
 speed auto
 duplex auto
 no shutdown
!
{% endif %}
{% if interface.IfLayer == "L3" %}
default interface {{ interface.IfType }}{{ interface.IfNr }}
interface {{ interface.IfType }}{{ interface.IfNr }}
 shutdown
 description {{ interface.Description }}
 cdp enable
 no switchport
 ip address {{ interface.Ip }} {{ interface.Mask }}
 no negotiation auto
 speed auto
 duplex auto
 no shutdown
!
{% endif %}
{% endfor %}
end
